/* Big tablet to 1200px (widths smaller than the 1140px row)*/
@media only screen and (max-width: 1200px) {
    .how-to {
        margin-left: 2%;
    }
    
    .tribute-box h1 {
        font-size: 160%;
        margin-top: 7%;
    }
    
}

/* Small tablets to big tablet: from 768 to 1023px*/
@media only screen and (max-width: 1023px) {
    
    /*Nav bar*/
    .navbar {
        font-size: 95%;
    }
    
    /*Font size adjustments*/
    h1 {
        font-size: 150%;
    }
    
    .how-to h2, h2, h3 {
        font-size: 109%;
    }
    
    p {
        font-size: 90%;
    }
    
    /*Header and selection*/
    .sel-box {
        width: 150px;
    }
    
    /*Tribute section*/
    .tribute-box h1 {
        font-size: 140%;
        margin-top: 8%;
    }
 
    .contain-box {
        width: 100%;
        margin-bottom: -7px;
    }
    
    .contain-box:last-child {
        margin-bottom: 3%;
    }
   
}

/* Small phones to small tablets: from 481 to 767px*/
@media only screen and (max-width: 767px) {
    
    /*Nav bar*/
    .main-nav { display: none; }
    .mobile-nav-icon { 
        display: inline-block;
        margin-right: 6%;
    }
    
    
    /*Font size adjustments*/
     h1 {
        font-size: 130%;
    }
    
    .how-to h2, h2, h3 {
        font-size: 100%;
    }
    
    p {
        font-size: 85%;
    }
    
    /*Header and selection*/
    
    .select {
        margin-top: 35%;
        margin-bottom: 15px;
    }
    
    .guitar-selection {
        float: none;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .guitar-brand {
        float: none;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    /*description section*/
    .descrip {
        width: 100%;
    }
    
    .simple-as {
        width: 100%;
        text-align: center;
    }
    
    .how-to p:last-child {
        margin-bottom: 25px;
    }
    
    
    /*Tribute section*/
    .tributeto {
        height: 270px;
    }
    
    .tribute-box {
        width: 100%;
    }
    
    .tribute-box h1 {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .lbl-1 {
        width: 360px;
    }
    
    .lbl-2 {
        width: 360px;
    }
    
    /*Form*/
    input[type = text],
    input[type = email],
    select,
    textarea {
        width: 250px;
    }
    
    input[name = bass],
    input[name = acoustic] {
        margin-left: 10px;
    }
    
    /*Footer*/
    footer {
        padding: 10px;
    }
    
    .footer-nav,
    .social-links {
        float: none;
        text-align: center;
    }
    
    .footer-nav li {
        margin-top: 4px;
    }
    
    .footer-nav li,
    .social-links li {
        margin-right: 6px;
       
    }
    
    
}

/* Small phones: from 0 to 480px*/
@media only screen and (max-width: 480px) {
    
    /*Header and selection*/
    .go-btn {
        margin-top: 30px;
    }
    
    .your-choice {
        margin-top: 30px;
    }

    /*Form*/
    form {
        margin-left: auto;
        margin-right: auto;
    }
    
    .form-box {
        background-size: 100% 800px;
        height: 800px;
    }
    
    
    
}








